<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.min.css" %}">
    <title></title>
  </head>
  <body>
    <div class ="container">
      <div class ="row">
        <div class ="col-md-6">
          <h1 class='text-success m-5 p-5'>Registeration Form</h1>
          <form method ="post" class='bg-ligth p-5 m-5'>
            {% csrf_token %}
            <div class ="form-group">
              <input type="text" name="name" placeholder="enter full name" class='form-control'>
            </div>
            <div class ="form-group">
              <input type="password" name="pwd" placeholder="enter password" class='form-control'>
            </div>


            <div class ="form-group">
              <input type="email" name="email" placeholder="enter email" class='form-control'>
            </div>


            <div class ="form-group">
              <input type="submit" value="register" class="btn btn-success">
            </div>
  </form>
</div>
</div>
</div>

  </body>
</html>
