<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.min.css" %}"
  </head>
  <body>

    <ol>
    {% for i in dt %}

    <li>{{i.name}}</li>
    <ul>
    <li>{{i.email}}</li>
    <li>{{i.about}}</li>

  </ul>
  {% endfor %}
  </ol>


  </body>
</html>
