<!DOCTYPE html>
{% load staticfiles%}
<html lang="en" dir="ltr">
  <head>
      <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.min.css" %}">
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <table>

    <form class ="" action="" method="post">
      

      {% csrf_token %}
      {{ f.as_table }}

    <tr>
      <td>
      <input type ="submit" name="pop" value="submit">
    </td>
    </tr>
  </form>
  </table>
  </body>
</html>
