<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <script src="jquery.js"</script>
    <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.min.css" %}"
     $(document).ready(function())
     $(#countries).countries

  </head>
  <body>
  <select name="countries" id="countries" style="width:300px";
     <option value="AU"Australia</option>
     </select>
       </body>
</html>
