<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.min.css" %}"
  </head>
  <body>
    <div class ="container">
      <div class="row">
        <div class="col=md-6">
          <form action=""method="post">
            {%csrf_token%}
            <div class="form-group">
              <input type="text"name="un"placeholder="enter username"class="form-control">
            </div>
            <div class="form-group">
              <input type="password" name="pass"placeholder="enter password"class="form-control">
            </div>
            <div class="form-group">
              <input type="submit" class="btn btn-success">
            </div>
          </form>
        </div>
      </div>
    </div>

  </body>
</html>
