<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.min.css" %}"/>
    <link rel="stylesheet" href="{% static "css/style.css" %}"
  </head>
  <body>
    <select>
      {% for i in h %}
      <option> {{ i.name }} - {{ i.currencies.0.name }} <br>
      </option>

      {% endfor %}
    </select>
    <div class="row" style='bacground:url("{% static "images/ab.jpeg" %}");height:200px;'>
      <div class="col-md-12">
        <h1 class='text-info text-center display-1 my-5'>


  </body>
</html>
